convert_or32Folder

or1k_toolchain
oss-cad-suite

convert_or32Folder

qinst-lite-linux-23.1std-991.run

0LAB

**/*.zip
virtual_prototype/programms/camera/external/printf/

virtual_prototype/systems/singleCore/sandbox/
virtual_prototype/programms/external/printf/

virtual_prototype/programms/grayscale/external/printf/

virtual_prototype/programms/helloWorld/external/printf/


PW6/virtual_prototype/programms/camera/external/printf/

PW6/virtual_prototype/programms/external/printf/

PW6/virtual_prototype/programms/grayscale/external/printf/
